<div class="jumbotron landing-jumbo">
  <div class="container jumbo-container">
    <h2>
      Track your teams <strong>overtime</strong> <br>and <strong>holiday requests</strong>.
    </h2>
    <hr>
    <p>
      Undertime allows your team to send managers overtime and holiday requests. When requests are approved, your team is notified via text and email.
    </p>
  </div>
</div>